/* fonts */
@font-face {
  font-family: 'archivoRegular';
  src: url('../../fonts/ArchivoBlack-Regular.ttf') format('truetype');
}

:root {
  --blue: rgb(158, 225, 232);
  --regular-font: archivoRegular;
}

main.analysis {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: black;
}
div.analysis_text {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  max-height: 45vh;
  max-width: 1000px;
  overflow-y: auto;
  font-family: var(--regular-font);
}
div.analysis_text p {
  display: flex;
}
p.correct_text {
  color: var(--blue);
}
p.error_text {
  margin-left: 0.2rem;
  margin-right: 0.2rem;
  color: red;
}

hr.analysis_suggestions_divisor {
  width: 100%;
  height: 2px;
  background-color: var(--blue);
  border-color: var(--blue);
  max-width: 1050px;
}

div.error_list_container,
div.spelling_errors,
div.grammar_errors,
.error_header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
div.open_error_button {
  padding: 0.5rem 1rem;
  width: 35%;
  text-align: center;
  font-family: var(--regular-font);
  color: var(--blue);
  border: 2px solid var(--blue);
  border-radius: 0.25rem;
}
div.error_list_container {
  box-sizing: border-box;
  min-height: 45vh;
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: 1000px;
  overflow-y: auto;
}
div.error_list_container h2 {
  margin: 1.5rem 0;
  font-family: var(--regular-font);
  text-transform: uppercase;
  color: red;
}
div.error_description_container {
  font-family: var(--regular-font);
  transition: all;
}
div.error_description_container div {
  text-align: center;
}
div.error_description_container div:nth-child(1) {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  color: var(--blue);
}
div.error_description_container div:nth-child(2) {
  margin-bottom: 0.25rem;
  color: red;
}
div.error_description_container div:nth-child(3) {
  color: green;
}
div.error_description_close {
  height: 0rem;
  display: none;
}
div.error_description_open {
  height: auto;
  display: block;
}

div.error_container,
div.error_container ul {
  width: 100%;
}
li.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 0;
}

/* mobile */
@media (max-width: 499px) {
  div.error_list_container h2 {
    font-size: 1.2rem;
  }
}

/* tablet */
@media (min-width: 500px) {
  main.analysis {
    font-size: 1.1rem;
  }
  div.error_list_container h2 {
    font-size: 1.6rem;
  }
}

/* desktop */
@media (min-width: 1000px) {
  main.analysis {
    font-size: 1.2rem;
  }
  div.error_list_container h2 {
    font-size: 1.9rem;
  }
}
