/* fonts */
@font-face {
  font-family: 'archivoRegular';
  src: url('../../fonts/ArchivoBlack-Regular.ttf') format('truetype');
}

:root {
  --blue: rgb(158, 225, 232);
  --regular-font: archivoRegular;
}

main.analysis {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: black;
}

div.analysis_text {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  max-height: calc(50vh - 1rem);
  max-width: 1000px;
  overflow-y: auto;
  font-family: var(--regular-font);
}

div.analysis_text p {
  display: flex;
}

p.text_error {
  margin-left: 0.2rem;
  margin-right: 0.2rem;
  color: red;
}
