/* fonts */
@font-face {
  font-family: 'archivoRegular';
  src: url('../../fonts/ArchivoBlack-Regular.ttf') format('truetype');
}

:root {
  --blue: rgb(158, 225, 232);
  --regular-font: archivoRegular;
}

/* global */
nav.global_navbar,
nav.global_navbar ul,
nav.global_navbar ul li {
  display: flex;
  justify-content: center;
  height: 100%;
}
nav.global_navbar,
nav.global_navbar ul {
  width: 100%;
}
nav.global_navbar ul li {
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  width: 50%;
  border: 4px solid var(--blue);
  border-radius: 0.25rem;
  background-color: black;
}
nav.global_navbar ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-family: var(--regular-font);
  text-decoration: none;
  color: var(--blue);
  text-transform: uppercase;
  text-align: center;
  font-size: 1.25rem;
  letter-spacing: 1px;
}
nav.global_navbar {
  position: fixed;
  bottom: 0;
  height: 3.5rem;
}

/* tablet */
@media (min-width: 650px) {
  nav.global_navbar ul {
    width: 650px;
  }
}
