/* fonts */
@font-face {
  font-family: 'archivoRegular';
  src: url('../../fonts/ArchivoBlack-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'archivoThin';
  src: url('../../fonts/ArchivoNarrow-VariableFont_wght.ttf') format('truetype');
}

:root {
  --blue: rgb(158, 225, 232);
  --regular-font: archivoRegular;
  --thin-font: archivoThin;
}

/* global */
nav.global_navbar {
  align-items: center;
}
nav.global_navbar,
nav.global_navbar ul,
nav.global_navbar ul li {
  display: flex;
  justify-content: center;
  height: 100%;
}
nav.global_navbar,
nav.global_navbar ul {
  width: 100%;
}
nav.global_navbar ul li {
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  border: 4px solid var(--blue);
  border-radius: 0.25rem;
}
nav.global_navbar ul li a {
  font-family: var(--regular-font);
  text-decoration: none;
  color: var(--blue);
}

/* mobile */
@media (max-width: 499px) {
  nav.global_navbar {
    position: fixed;
    bottom: 0;
    height: 3.5rem;
  }
  nav.global_navbar ul li {
    width: 50%;
  }
  nav.global_navbar ul li a {
    text-transform: uppercase;
    font-size: 1.25rem;
    letter-spacing: 1px;
  }
}

/* tablet */
@media (min-width: 500px) {
  nav.global_navbar {
    margin: 0.5rem 0;
    height: 3rem;
  }
  nav.global_navbar ul li {
    margin: 0 0.125rem;
    width: 12rem;
  }
  nav.global_navbar ul li a {
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 1px;
  }
}
