@font-face {
  font-family: 'archivoRegular';
  src: url('../../fonts/ArchivoBlack-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'archivoThin';
  src: url('../../fonts/ArchivoNarrow-VariableFont_wght.ttf') format('truetype');
}

:root {
  --blue: #9ee1e8;
  --orange: #fbb193;
  --regular-font: archivoRegular;
  --thin-font: archivoThin;
}

/* global */
a.homepage_post_link {
  text-decoration: none;
  color: var(--orange);
  font-family: var(--thin-font);
}

/* mobile */
@media (max-width: 499px) {
  a.homepage_post_link {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  a.homepage_post_link div {
    box-sizing: border-box;
    padding: 0.5rem 1rem;
    width: 65%;
    margin: 1rem 0;
    text-align: center;
    border: 3px solid var(--blue);
    border-radius: 0.5rem;
  }
  p.homepage_post_body {
    width: 80%;
    display: none;
  }
}
