@font-face {
  font-family: 'archivoRegular';
  src: url('../../fonts/ArchivoBlack-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'archivoThin';
  src: url('../../fonts/ArchivoNarrow-VariableFont_wght.ttf') format('truetype');
}

:root {
  --blue: rgb(158, 225, 232);
  --regular-font: archivoRegular;
  --thin-font: archivoThin;
}

/* global */
.new_post {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.new_post h1 {
  margin-top: 1rem;
  font-size: 3rem;
  text-transform: uppercase;
  font-family: var(--regular-font);
  color: var(--blue);
}
.new_post form {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0.5rem;
  top: calc(50% - 236px);
  box-shadow: none;
  border: 2px solid var(--blue);
}
.new_post_input_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80vw;
  max-width: 815px;
}
#new_post_body {
  resize: none;
}
.new_post label {
  margin: 0.5rem 0;
  text-transform: uppercase;
  font-family: var(--thin-font);
  color: var(--blue);
}
.new_post input {
  height: 1.2rem;
}
.new_post textarea {
  height: 12rem;
}
.new_post input,
.new_post textarea {
  width: 60vw;
  max-width: 600px;
  padding-left: 0.25rem;
  border-radius: 0.25rem;
  border: none;
  font-family: var(--thin-font);
}
/*  */
.category_showing_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.5rem 0;
}
.category_container,
.showing_container {
  display: flex;
  align-items: center;
  width: 50%;
}
.category_showing_container label {
  margin-right: 1rem;
}
/*  */
.new_post_button_container {
  display: flex;
  margin-top: 2rem;
}
.new_post button {
  margin: 0 1rem;
  padding: 0.5rem 1rem;
  color: var(--blue);
  background-color: black;
  font-family: var(--thin-font);
  font-size: 1.2rem;
  text-transform: uppercase;
  border: 3px solid var(--blue);
  border-radius: 0.25rem;
}

@media (max-width: 499px) {
  .new_post label {
    font-size: 1.2rem;
  }
  .new_post textarea,
  .new_post input {
    font-size: 1.1rem;
  }
}

@media (min-width: 500px) {
  .new_post label {
    font-size: 1.4rem;
  }
  .new_post textarea,
  .new_post input {
    font-size: 1.2rem;
  }
}
/*  */
@media (max-width: 800px) {
  .category_showing_container {
    width: 60vw;
    align-items: flex-start;
  }
}
/*  */

@media (min-width: 800px) {
  .new_post label {
    font-size: 1.5rem;
  }
  .new_post input {
    height: 1.4rem;
  }
  .new_post textarea {
    height: 18rem;
  }
  .new_post form {
    top: calc(50% - 304px);
  }
  .new_post textarea,
  .new_post input {
    font-size: 1.3rem;
  }
}

@media (min-width: 1000px) {
  .new_post label {
    font-size: 1.6rem;
  }
  .new_post textarea {
    height: 30rem;
  }
  .new_post form {
    top: calc(50% - 403px);
  }
  .new_post textarea,
  .new_post input {
    font-size: 1.4rem;
  }
}
