@font-face {
  font-family: 'archivoThin';
  src: url('../../fonts/ArchivoNarrow-VariableFont_wght.ttf') format('truetype');
}

:root {
  --green: rgb(162, 235, 159);
  --thin-font: archivoThin;
}

.login_form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.login_form li input {
  margin: 0.25rem 0;
  background-color: var(--green);
  font-family: var(--thin-font);
  font-size: 1.1rem;
  text-align: center;
  border: none;
  border-radius: 0.5rem;
}

.login_input_error {
  color: red;
  outline: 2px solid red;
}

@media (max-width: 799px) {
  .login_form div {
    display: flex;
    justify-content: center;
  }
  .login_form_submit_button {
    margin-top: 1rem;
    padding: 0 1rem;
    font-family: var(--thin-font);
    font-size: 1.1rem;
    background-color: var(--green);
    border: 1px solid var(--green);
    border-radius: 0.5rem;
  }
}
@media (min-width: 800px) {
  .login_form_submit_button {
    visibility: hidden;
  }
}
